<!DOCTYPE html>
<html lang="en">
<%- include('layout/head'); -%>

    <body class="d-flex flex-column">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <%- include('layout/navigation'); -%>
                <!-- Page content-->
                <section class="">
                    <div class="container px-5">
                        <!-- Contact form-->
                        <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
                            <div class="text-center mb-5">
                                <h1 class="fw-bolder">Search Drivers</h1>
                            </div>

                            <div class="row gx-5 justify-content-center">
                                <% if (typeof message=='string' && message){ %>
                                    <div class="text-center mb-5">
                                        <h2>
                                            <%= message %>
                                                </h3>
                                    </div>
                                    <% } %>
                                        <div class="col-lg-6 col-xl-8">
                                            <form id="g2TestForm" action="/driverSearch" method="POST">

                                                <div class="form-floating mb-3">
                                                    <select id="test_type" class="dropdown-toggle form-control"
                                                        name="test_type" required>
                                                        <option value="G2">G2</option>
                                                        <option value="G">G</option>
                                                    </select> <label for="date">Test Type</label>
                                                </div>
                                                <div class="form-floating mb-3">
                                                    <select id="result" class="dropdown-toggle form-control"
                                                        name="result" required>
                                                        <option value="Pass">Pass</option>
                                                        <option value="Fail">Fail</option>
                                                    </select> <label for="date">Result</label>
                                                </div>
                                                <div class="d-grid"><button class="btn btn-primary btn-lg"
                                                        id="submitButton" type="submit">Search</button></div>
                                            </form>
                                        </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="">
                    <div class="container px-5">
                        <div class="bg-light rounded-3 py-5 px-md-5 mb-5">
                            <div class="row gx-5 justify-content-center">
                                <div class="col-lg-8 col-xl-6">
                                    <% if (typeof users=='object' && users){ %>
                                        <div class="text-center mb-5">
                                            <h1 class="fw-bolder">Drivers</h1>
                                        </div>
                                        <% for (var i=0; i < users.length; i++) { %>

                                            <form id="g2TestForm" action="/bookAppointment" method="POST">
                                                <!-- <div class="row g-2"> -->
                                                <!-- <div class="col-lg-1">
                                                        <input type="radio" id="slot" name="slot" value="HTML">

                                                    </div> -->
                                                <div class="col-md">
                                                    <div class="form-floating mb-3">

                                                        <input class="form-control" id="name" name="name" type="text"
                                                            value="<%= users[i].firstname + ' ' + users[i].lastname %>"
                                                            disabled />
                                                        <label for="name">Name</label>
                                                    </div>
                                                </div>
                                            </form>
                                            <!-- </div> -->
                                            <% } %>

                                                <% } %>

                                </div>

                            </div>
                        </div>
                    </div>
                </section>

        </main>
        <!-- Footer-->
        <%- include('layout/footer'); -%>
            <!-- Bootstrap core JS-->
            <!-- Core theme JS-->
            <%- include('layout/script'); -%>
    </body>

</html>